/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #cacaca;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(250, 209, 209);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
